/ {
  behaviors {
    mv_scrl_left: move_scroll_left {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&mmv MOVE_LEFT>, <&msc SCRL_LEFT>;
      mods = <(MOD_LSFT|MOD_LCTL|MOD_LALT|MOD_LGUI)>;
    };

    mv_scrl_down: move_scroll_down {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&mmv MOVE_DOWN>, <&msc SCRL_DOWN>;
      mods = <(MOD_LSFT|MOD_LCTL|MOD_LALT|MOD_LGUI)>;
    };

    mv_scrl_up: move_scroll_up {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&mmv MOVE_UP>, <&msc SCRL_UP>;
      mods = <(MOD_LSFT|MOD_LCTL|MOD_LALT|MOD_LGUI)>;
    };

    mv_scrl_right: move_scroll_right {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&mmv MOVE_RIGHT>, <&msc SCRL_RIGHT>;
      mods = <(MOD_LSFT|MOD_LCTL|MOD_LALT|MOD_LGUI)>;
    };

    bt_sel_clr_0: bt_sel_clr_0 {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&bt BT_SEL 0>, <&bt BT_SEL 0 &bt BT_CLR>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    bt_sel_clr_1: bt_sel_clr_1 {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&bt BT_SEL 1>, <&bt BT_SEL 1 &bt BT_CLR>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    bt_sel_clr_2: bt_sel_clr_2 {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&bt BT_SEL 2>, <&bt BT_SEL 2 &bt BT_CLR>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    bt_sel_clr_3: bt_sel_clr_3 {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&bt BT_SEL 3>, <&bt BT_SEL 3 &bt BT_CLR>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    out_tog: out_tog {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&out OUT_TOG>, <&out OUT_USB>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    to_BASE: to_BASE {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&none>, <&to BASE>;
    };

    to_TAP: to_TAP {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&none>, <&to TAP>;
    };

    to_NAV: to_NAV {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&none>, <&to NAV>;
    };

    to_MSE: to_MSE {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&none>, <&to MSE>;
    };

    to_BUT: to_BUT {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&none>, <&to BUT>;
    };

    to_MED: to_MED {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&none>, <&to MED>;
    };

    to_NUM: to_NUM {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&none>, <&to NUM>;
    };

    to_SYM: to_SYM {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&none>, <&to SYM>;
    };

    to_FUN: to_FUN {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&none>, <&to FUN>;
    };

    to_EXT: to_EXT {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&none>, <&to EXT>;
    };

    to_reset: to_reset {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&none>, <&sys_reset>, <&bootloader>;
    };
  };
};
